@model List<Question>
@using ISCAE.Data
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_EtudiantLayout.cshtml";
    List<Etudiant> etudiants =  ViewBag.etudiants;
    int pageIndex = ViewBag.pageIndex;
    int maxPage = ViewBag.maxPage;
}


<div class="row">
    <!-- left column -->
    <div class="col-md-8">
        <!-- general form elements -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter un nouveau</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("Add", "Discussion", FormMethod.Post, new { @id = "add-question" }))
            {
                <div class="box-body">

                    <div class="form-group">
                        <input type="text" class="form-control" id="titre" name="titre" placeholder="Titre"/>
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" id="contenu" name="contenu" placeholder="Votre Question"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="document">une image ?</label>
                        <input type="file" id="attachment" name="attachment">
                        <p class="help-block">Si vous voulez ajouter une image c'est pas obligatoir</p>
                    </div>

                </div>
                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success">Ajouter</button>
                                </div>
                                }
        </div>
        <!-- /.box -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Discussions</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <ul class="products-list product-list-in-box">
                    @{
                        if (Model.Count > 0)
                        {
                            foreach (Question question in Model)
                            {
                                <li class="item">
                                    <div class="product-img">
                                        <img src="@Url.Content(etudiants.Find(o=>o.EtudiantId == question.EtudiantId).ProfilePath)" alt="Product Image">
                                    </div>
                                    <div class="product-info">
                                        <a href="@Url.Action("Discussion","Discussion",new { id = question.QuestionId})" class="product-title">
                                            @question.Titre

                                        </a>
                                        <span class="product-description">
                                            @etudiants.Find(o => o.EtudiantId == question.EtudiantId).Nom
                                            <span class="label label-warning pull-right">@String.Format("{0:dd-MM-yyyy} à {0:H:mm}", question.DateQuestion)</span>
                                        </span>
                                    </div>
                                </li>
                            <!-- /.item -->
                            }
                        }
                        else
                        {
                            <li>Pas de discussion</li>
                        }
                    }

                </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    @using (Html.BeginForm("NonOfficiel", "Document", FormMethod.Get, new { @id = "form-pagination" }))
                    {
                        <input type="hidden" id="pageIndex" name="pageIndex" value="@pageIndex" />
                        <div class="">
                            <button id="previous" type="submit" @((Model.Count()) == 0 || pageIndex == 1 ? "disabled" : "" ) class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            @{
                                if (maxPage > 0)
                                {
                                    for (int i = 1; i <= maxPage; i++)
                                    {
                                        if (i == pageIndex)
                                        {
                                            <i><b>@i</b></i>
                                        }
                                        else
                                        {
                                            <i>@i</i>
                                        }
                                    }
                                }


                            }
                            <button id="next" type="submit" @((Model.Count()) == 0 || pageIndex == maxPage ? "disabled" : "" ) class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div>
                                }


                    <!-- /.btn-group -->
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        //$(document).ready(function () {

        //});
        $("#form-pagination").submit(function () { return false; });
        $("#previous").click(function () {
            calculePage("previous");
            window.location.replace($("#form-pagination").attr("action") + "?pageIndex=" + parseInt($("#pageIndex").val()));
        });
        $("#next").click(function () {
            calculePage("next");
            window.location.replace($("#form-pagination").attr("action") + "?pageIndex=" + parseInt($("#pageIndex").val()));
        });
        function calculePage(moveType) {
            var pageIndex = parseInt($("#pageIndex").val());
            if (moveType == "previous") {
                pageIndex--;
            }
            else if (moveType == "next") {
                pageIndex++;
            }
            else {
                alert("Error in pagination");
                return;
            }
            $("#pageIndex").val(pageIndex);
        }


    </script>
}