@model List<DocumentNonOfficiel>
@using ISCAE.Data
@{

    List<Etudiant> etudiants = (List<Etudiant>)ViewBag.etudiants;
    List<Specialite> specialites = ViewBag.specialites;
    List<Module> modules = ViewBag.modules;
    int pageIndex = ViewBag.pageIndex;
    int maxPage = ViewBag.maxPage;
}


<div class="row">
    <!-- Left col -->
    <div class="col-md-9">
        
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Documents</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Module</th>
                                        <th>type</th>
                                        <th>Ajouter par</th>
                                        <th>Specialite</th>
                                        <th>Telechargement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.Count > 0)
                                        {
                                            foreach (DocumentNonOfficiel document in Model)
                                            {
                                                <tr>
                                                    <td>@document.Titre</td>
                                                    <td><span class="label label-success">@modules.Find(o => o.ModuleId == document.ModuleId).Designation</span></td>
                                                    <td>@document.Type</td>
                                                    <td>@etudiants.Find(o => o.EtudiantId == document.EtudiantId).Nom</td>
                                                    <td>@etudiants.Find(o => o.EtudiantId == document.EtudiantId).Specialite.Designation</td>
                                                    <td><a href="@Url.Action("Download","Document",new { documentId = document.DocumentNonOfficielId })"><span class="fa fa-arrow-down"></span></a></td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="5">Pas de donnees</td></tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-right">
                            @using (Html.BeginForm("NonOfficiel", "Document", FormMethod.Get, new { @id = "form-pagination" }))
                            {
                                <input type="hidden" id="pageIndex" name="pageIndex" value="@pageIndex" />
                                <div class="">
                                    <button id="previous" type="submit" @((Model.Count()) == 0 || pageIndex == 1 ? "disabled" : "" ) class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                    @{
                                        if (maxPage > 0)
                                        {
                                            for (int i = 1; i <= maxPage; i++)
                                            {
                                                if (i == pageIndex)
                                                {
                                                    <i><b>@i</b></i>
                                                }
                                                else
                                                {
                                                    <i>@i</i>
                                                }
                                            }
                                        }


                                    }
                                    <button id="next" type="submit" @((Model.Count()) == 0 || pageIndex == maxPage ? "disabled" : "" ) class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                </div>
                                        }
                            <!-- /.btn-group -->
                        </div>
                    </div>
                </div>
        
       
    </div>
    
</div>
<!-- /.row -->