@model List<ISCAE.Data.DocumentNonOfficiel>
@using ISCAE.Business.Services
@using ISCAE.Data
@{
    ViewBag.Title = "Document > Non Officiel";
    Layout = "~/Views/Shared/_EtudiantLayout.cshtml";
    IModuleService _moduleService = (IModuleService)ViewBag.ModuleService;
    IEtudiantService _etudiantService = (IEtudiantService)ViewBag.EtudiantService;
    List<Module> modules = ViewBag.Modules;
}

<div class="row">
    <!-- Left col -->
    <div class="col-md-8">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Documents</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Module</th>
                                <th>type</th>
                                <th>Ajouter par</th>
                                <th>Telechargement</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Count() > 0)
                                {
                                    foreach (ISCAE.Data.DocumentNonOfficiel document in Model)
                                    {
                                        <tr>
                                            <td>@document.Titre</td>
                                            <td><span class="label label-success">@_moduleService.Get(document.ModuleId).Designation</span></td>
                                            <td>@document.Type</td>
                                            <td>@_etudiantService.Get(document.EtudiantId).Nom</td>
                                            <td><a href="@Url.Action("Download","Document",new { documentId = document.DocumentNonOfficielId })"><span class="fa fa-arrow-down"></span></a></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="5">Pas de donnees</td></tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Ajouter un nouveau</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("AddEtudiant", "Document", FormMethod.Post, new { enctype = "multipart/form-data", @id = "add-document" }))
            {
                <div class="box-body">

                    <div class="form-group">
                        <label for="document">Document</label>
                        <input type="file" id="document" name="document">
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Module</label>
                        <select class="form-control" id="modules" name="module">
                            @{
                                foreach (Module m in modules)
                                {
                                    <option value="@m.ModuleId">@m.Designation</option>
                                }
                            }
                        </select>
                    </div>

                </div>
                <!-- /.box-body -->
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                                }
        </div>
    </div>
    <div class="col-md-4">
        <!--Annonces-->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Top Etudiant</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-footer no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">
                            Brahim Baheida
                            <span class="pull-right text-green">12</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Mohamed Alem
                            <span class="pull-right text-green">9</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Moctar Ely
                            <span class="pull-right text-green">6</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>