@using ISCAE.Data
@{ 
    Dictionary<Module,Professeur> professeurs = ViewBag.professeurs;
}
<div class="row">
    <!-- Left col -->
    <div class="col-md-8">
        @{
            foreach (Module m in professeurs.Keys)
            {
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Documents - @m.Designation - @professeurs[m].Nom</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th width="60%">Titre</th>
                                        <th width="20%">type</th>
                                        <th width="20%">Telechargement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model.Count > 0)
                                        {
                                            foreach (DocumentNonOfficiel document in Model)
                                            {
                                                <tr>
                                                    <td>@document.Titre</td>
                                                    <td>@document.Type</td>
                                                    <td><a href="@Url.Action("Download","Document",new { documentId = document.DocumentNonOfficielId })"><span class="fa fa-arrow-down"></span></a></td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="5">Pas de donnees</td></tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                </div>

                                        }
        }
        
    </div>
    <div class="col-md-4">
        <!--Annonces-->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Top Prof</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->

            <div class="box-footer no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">
                            Ethmane
                            <span class="pull-right text-green">12</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Saadbouh
                            <span class="pull-right text-green">9</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Moctar Salem
                            <span class="pull-right text-green">6</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
