@model Etudiant
@using ISCAE.Data
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_EtudiantLayout.cshtml";
}
<div class="row">
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="box box-success">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="@Url.Content(Model.ProfilePath)" alt="User profile picture">
                <h3 class="profile-username text-center">@Model.Login</h3>
                <p class="text-muted text-center">@Model.Niveau éme @Model.Specialite.Designation</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Nom</b> <a class="pull-right">@Model.Nom</a>
                    </li>
                    <li class="list-group-item">
                        <b>Matricule</b> <a class="pull-right">@Model.Matricule</a>
                    </li>
                    <li class="list-group-item">
                        <b>Telephone</b> <a class="pull-right">@Model.Telephone</a>
                    </li>
                    <li class="list-group-item">
                        <b>Email</b> <a class="pull-right">@Model.Email</a>
                    </li>
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#settings" data-toggle="tab">Generales</a></li>
                <li><a href="#profile" data-toggle="tab">Changer votre Image</a></li>
                <li><a href="#password" data-toggle="tab">Changer votre mot de passe</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="settings">
                    @using (Html.BeginForm("UserProfile", "Etudiant", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" name="email" value="@Model.Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telephone" class="col-sm-2 control-label">Telephone</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" id="telephone" name="telephone" value="@Model.Telephone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    }
                </div>

                <!-- /.tab-pane -->
                    <div class="tab-pane" id="profile">
                        @using (Html.BeginForm("Avatar", "Etudiant", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal"  }))
                        {
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="image">Votre Image</label>
                                <div class="col-sm-10">
                                    <input type="file" id="image" name="image">
                                    <p class="help-block">L'image doit etre .png ou .jpg et ne depasse pas 2Mo</p>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        }
                </div>
                <div class="tab-pane" id="password">
                    @using (Html.BeginForm("ChangePassword", "Etudiant", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="oldpass">Ancien </label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="oldpass" name="oldpass">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="newpass">Nouveau </label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="newpass" name="newpass">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="renewpass">Confirme </label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="renewpass" name="renewpass">
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div> 
        </div>
    </div>
</div>