@using ISCAE.Data;
@{
    Administrateur user = ((Administrateur)Session["user"]);
    List<Notification> notifications = (List<Notification>)Session["notifications"];
    int notificationCount = (int)Session["notificationCount"];
    
 }
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@user.Login | @Html.ViewBag.Title</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  @Styles.Render("~/Content/user")

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-green-light sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href='@Url.Action("Index","Administrateur")' class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">ISCAE</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">ISCAE</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
    <!-- Notifications: style can be found in dropdown.less -->
           @{
               if (notificationCount > 0)
               {
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning">@notificationCount</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Vous avez @notificationCount notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                @{
                                    foreach (Notification n in notifications)
                                    {
                                        <li>
                                            <a href="@Url.Action("Notifications", "Notification", new { id = n.NotificationId})">
                                                <i class="fa fa-star text-aqua"></i> @n.Message
                                            </a>
                                        </li>
                                    }
                                }
                               
                            </ul>
                        </li>
                        <li class="footer"><a href="#">Afficher Tous</a></li>
                    </ul>
                </li>

               }
               else
               {
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>

                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Pas de notifications</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>

                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#">View all</a></li>
                    </ul>
                </li>
               }
        }

                    <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="@Url.Content(user.ProfilePath)" class="user-image" alt="User Image">
                    <span class="hidden-xs">@user.Nom</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="@Url.Content(user.ProfilePath)" class="img-circle" alt="User Image">
                        <p>
                            @user.Nom 
                        </p>
                    </li>

                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="@Url.Action("UserProfile","Administrateur")" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href="@Url.Action("Logout","Home")" class="btn btn-default btn-flat">Logout</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Url.Content(user.ProfilePath)" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@user.Nom</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MENU PRINCIPALE</li>
                    <li class="active">
                        <a href='@Url.Action("Index","Administrateur")'>
                            <i class="fa fa-home"></i> <span>Accueil</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-suitcase"></i> <span>Professeurs</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Professeurs","Administrateur")"><i class="fa fa-circle-o"></i> Afficher tous</a></li>
                            <li><a href="@Url.Action("AddProfesseur","Administrateur")"><i class="fa fa-plus-circle"></i> Ajouter</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-users"></i> <span>Etudiants</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Etudiants","Administrateur")"><i class="fa fa-circle-o"></i> Afficher tous</a></li>
                            <li><a href="@Url.Action("AddEtudiants","Administrateur")"><i class="fa fa-plus-circle"></i> Ajouter des etudiants</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-graduation-cap"></i> <span>Specialites</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Specialites","Administrateur")"><i class="fa fa-circle-o"></i> Afficher tous</a></li>
                            <li><a href="@Url.Action("AddSpecialite","Administrateur")"><i class="fa fa-plus-circle"></i> Ajouter</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href='@Url.Action("Index","Annonce")'>
                            <i class="fa fa-flash"></i> <span>Annonces</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Annonce")"><i class="fa fa-circle-o"></i> Afficher tous</a></li>
                            <li><a href="@Url.Action("AddAvis","Administrateur")"><i class="fa fa-plus-circle"></i> Ajouter une nouvelle</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href='@Url.Action("Directeur","Administrateur")'>
                            <i class="fa fa-edit"></i> <span>Mot de directeur</span>
                            <span class="pull-right-container">
                                
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            
            <!-- Main content -->
            <section class="content">


                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year ISCAE </strong>
        </footer>
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
        <!-- ./wrapper -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/user")
        @RenderSection("scripts", required: false)
</body>
</html>
