<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ISCAE | @ViewBag.Title</title>
    @Styles.Render("~/Content/home")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    @Html.Partial("_Navbar");
    <div class="container-fluid">
        @RenderBody()
    </div>
    <div class="container-fluid">
        <div class="row">
            <hr />
            <footer class="col-sm-12 footer-basic-centered">

                <p class="footer-links">
                    <a href="#">A Propos</a>
                    ·
                    <a href='@Url.Action("Directeur","Home")'>Mot du directeur</a>
                    ·
                    <a href="#">Partenaires</a>
                    ·
                    <a href="#">Notre offre</a>
                    ·
                    <a href="#">Contact</a>
                </p>
                <p class="footer-company-name">ISCAE Mauritanie &copy; @DateTime.Now.Year</p>
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
            </footer>
        </div>
    </div>
</body>
</html>
