<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand"><b>ISCAE</b></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href='@Url.Action("Index","Home")'>Accueil</a></li>
                    <li><a href='@Url.Action("Formations","Home")'>Formations</a></li>
                    <li><a href='@Url.Action("Professeurs","Home")'>Professeurs</a></li>
                    <li><a href='@Url.Action("Etudiants","Home")'>Etudiants</a></li>
                    <li><a href='@Url.Action("Avis","Home")'>Avis</a></li>
                    <li id="login" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> Login <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "login_form" }))
                            {
                                <li>
                                    <div class="col-xs-pull-1 col-xs-push-1 col-xs-10 form-group">
                                        <input type="text" class="form-control" id="username" name="login" placeholder="Username">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-xs-pull-1 col-xs-push-1 col-xs-10 form-group">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
                                    </div>
                                </li>
                                <li>
                                    <div class="col-xs-pull-1 col-xs-push-1 col-xs-10 checkbox">
                                        <label style="color:white">
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </li>
                                  
                                    <!-- /.row -->
                                    <li>
                                        <div class="row">
                                            <div class="col-xs-push-1 col-xs-3">
                                                <button href="@Url.Action("Register","Home")" class="btn btn-default btn-flat">Registre</button>
                                            </div>
                                            <div class="pull-right col-xs-offset-3 col-xs-pull-2 col-xs-3">
                                                <i class="" id="loading"></i>
                                                <input type="submit" id="connecter-btn" class="btn btn-default btn-flat" value="Connecter" />
                                            </div>
                                        </div>
                                    </li>
                            }
                        </ul>
                    </li>
                    

                </ul>
                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class="navbar-form navbar-left", @role="search" , @id="search_form"}))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                    </div>
                }
            </div>
            <!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->
            <div id="right-login" class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs"><span class="fa fa-user"></span> Login</span>
                        </a>
                       
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "login_form" }))
                            {
                                <!-- Menu Body -->
                                <li style="padding-top:30px" class="user-body">
                                    <div class="row">

                                        <div class="col-sm-push-1 col-sm-pull-1 col-sm-10 form-group">
                                            <input type="text" class="form-control" id="username" name="login" placeholder="Username">
                                        </div>
                                        <div class="col-sm-push-1 col-sm-pull-1 col-sm-10 form-group">
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
                                        </div>
                                        <div class="col-sm-push-1 col-sm-pull-1 col-sm-10 checkbox">
                                            <label>
                                                <input type="checkbox"> Remember me
                                            </label>
                                        </div>
                                    </div>
                                <!-- /.row -->
                                </li>
                            <!-- Menu Footer-->
                                <li class="user-footer">
                                    
                                    <div class="pull-left">
                                        <a href="@Url.Action("Register","Home")" class="btn btn-success btn-flat">Registre</a>
                                    </div>
                                    <div class="pull-right">
                                        <i class="" id="loading"></i>
                                        <input type="submit" id="connecter-btn" class="btn btn-success btn-flat" value="Connecter" />
                                    </div>
                                </li>
                                }
                            </ul>
                        
                        
                    </li>
                </ul>
            </div>
            <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
