@model List<Message>
@using ISCAE.Data
@{ 
    int pageIndex = ViewBag.pageIndex;
    int maxPage = ViewBag.maxPage;
    Dictionary<Module, Professeur> professeurs = ViewBag.professeurs;
}
<div class="col-md-9">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Messages Reçus</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="mailbox-controls">

                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                @{ 
                    if (true)
                    {

                    }
                }
                <div class="pull-right">
                    @using (Html.BeginForm("Index", "Message", FormMethod.Get, new { @id = "form-pagination" }))
                    {
                        <input type="hidden" id="pageIndex" name="pageIndex" value="@pageIndex" />
                        <div class="">
                            <button id="previous" type="submit" @((Model.Count()) == 0 || pageIndex == 1 ? "disabled" : "" ) class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            @{
                                if (maxPage > 0)
                                {
                                    for (int i = 1; i <= maxPage; i++)
                                    {
                                        if (i == pageIndex)
                                        {
                                            <i><b>@i</b></i>
                                        }
                                        else
                                        {
                                            <i>@i</i>
                                        }
                                    }
                                }


                            }
                            <button id="next" type="submit" @((Model.Count()) == 0 || pageIndex == maxPage ? "disabled" : "" ) class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div>
                           }


                    <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
            </div>
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                    <tbody>
                        @{
                            if (Model.Count > 0)
                            {
                                foreach (Message message in Model)
                                {
                                <tr>
                                    <td class="mailbox-name"><a href="@Url.Action("Boites", "Message", new { id = message.MessageId })">@professeurs.Values.First(o => o.ProfesseurId == message.ProfesseurId).Nom</a></td>
                                    <td class="mailbox-subject">
                                        <b>@message.Titre</b> - @message.Contenu.Substring(0, (message.Contenu.Length/2)) ...
                                    </td>
                                    <td class="mailbox-attachment"></td>
                                    <td class="mailbox-date">@String.Format("{0:dd-MM-yyyy} à {0:H:mm}", message.DateEnvoiMessage)</td>
                                </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">Pas de massage</td>

                                </tr>
                            }
                        }
                        
                    </tbody>
                </table>
                <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
            <div class="mailbox-controls">

            </div>
        </div>
    </div>
    <!-- /. box -->
</div>
